---
import Layout from '../layouts/Layout.astro';
import BackIcon from '../icons/BackIcon.astro';
---
<Layout
	title="Porfolio de Oscar Lugo - ERROR 404"
	description="Not found"	
>
<main class="flex flex-col justify-center items-center h-screen min-w-full gap-5">
    <h1 class="text-6xl text-[#5FCDD9] font-bold">ERROR 404</h1>
    <p class="text-2xl text-center">La pagina que estas buscando no existe</p>
    <a href="/" class="inline-flex items-center px-4 py-2 gap-3 text-sm font-medium text-[#5FCDD9] bg-[#027373] border border-[#04BF9D] rounded-lg hover:bg-[#172026] hover:text-[#04BF9D] focus:z-10 focus:ring-4 focus:outline-none focus:ring-[#04BF9D] focus:text-[#04BF9D]  transition">
        <BackIcon class="size-6" />
        Volver al inicio
    </a>
</main>
</Layout>