<section class="flex flex-col justify-center md:w-5/12 gap-y-5 px-5 md:mt-10">

    <div class="flex flex-col">
        <p class="text-xs sm:text-base md:text-lg text-pretty my-4">Soy Oscar Lugo, programador backend con más de <strong class="text-[#5FCDD9]">5 años de experiencia.</strong> Me apasiona el desarrollo web y me encanta crear soluciones tecnológicas que ayuden a las personas.</p>

        <p class="text-xs sm:text-base md:text-lg text-pretty my-4">Soy <strong class="text-[#5FCDD9]">ingeniero en informática</strong>, lo que me ha brindado las bases para desarrollar mis habilidades en programación. Estoy especializado en <strong class="text-[#5FCDD9]">Python, Django, PHP, Javascript, Vue, Nginx</strong>, entre otros lenguajes y frameworks.</p>
            
        <p class="text-xs sm:text-base md:text-lg text-pretty my-4">También tengo experiencia en el desarrollo <strong class="text-[#5FCDD9]">full stack</strong>, lo que me permite trabajar en todos los aspectos de un proyecto web.</p>
            
        <p class="text-xs sm:text-base md:text-lg text-pretty my-4">En mi tiempo libre, me gusta aprender nuevos lenguajes y tecnologías. También soy un apasionado de la música, la fotografía y la edición de videos.</p>
    </div>
</section>