<section class="flex gap-x-6 items-center">
    <span class="flex gap-x-1 items-center w-1/5">
        <slot />
    </span>
    <div class="w-3/4 bg-[#027373] rounded-full h-2.5">
        <div class="bg-[#5FCDD9] h-2.5 rounded-full"  style="width: 60%"></div>
    </div>
  
</section>