---
import PythonIcon from "../icons/PythonIcon.astro";
import DjangoIcon from "../icons/DjangoIcon.astro";
import JSIcon from "../icons/JSIcon.astro";
import PHPIcon from "../icons/PHPIcon.astro";
import CIcon from "../icons/CIcon.astro";
import VueIcon from "../icons/VueIcon.astro";
import MySQL from "../icons/MySQL.astro";
import Postgres from "../icons/Postgres.astro";
import SQLite from "../icons/SQLite.astro";
import VSCodeIcon from "../icons/VSCode.astro";
import Figma from "../icons/Figma.astro";
import GitIcon from "../icons/GitIcon.astro";
import Photoshop from "../icons/Photoshop.astro";
import Bootstrap from "../icons/Bootstrap.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
---

<div class="flex flex-col items-center justify-center gap-y-1 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <PythonIcon class="size-14" />
    <h3 class="text-[#027373] text-xs text-center">Python</h3>
</div>
<div class="flex flex-col items-center justify-center gap-y-2.5 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <DjangoIcon class="size-12" />
    <h3 class="text-[#027373] text-xs text-center">Django</h3>
</div>
<div class="flex flex-col items-center justify-center gap-y-4 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <JSIcon class="size-10 rounded" />
    <h3 class="text-[#027373] text-xs text-center">JavaScript</h3>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <PHPIcon class="size-12" />
    <h3 class="text-[#027373] text-xs text-center">PHP</h3>
</div>
<div class="flex flex-col items-center justify-center gap-y-3.5 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <CIcon class="size-10" />
    <h3 class="text-[#027373] text-xs text-center">C++</h3>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <VueIcon class="size-12" />
    <h3 class="text-[#027373] text-xs text-center">Vue</h3>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <MySQL class="size-12" />
    <span class="text-xs text-[#027373]">MySQL</span>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <Postgres class="size-12" />
    <span class="text-xs text-[#027373]">PostgreSQL</span>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <SQLite class="size-12" />
    <span class="text-xs text-[#027373]">SQLite</span>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <VSCodeIcon class="size-12" />
    <span class="text-xs text-[#027373]">VS Code</span>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <Figma class="size-12" />
    <span class="text-xs text-[#027373]">Figma</span>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <GitIcon class="size-12" />
    <span class="text-xs text-[#027373]">GIT</span>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <Photoshop class="size-12" />
    <span class="text-xs text-[#027373]">Photoshop</span>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <Bootstrap class="size-12" />
    <span class="text-xs text-[#027373]">Bootstrap</span>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <AstroIcon class="size-12" />
    <span class="text-xs text-[#027373]">Astro</span>
</div>
<div class="flex flex-col items-center justify-center gap-y-2 p-1 rounded-sm transition hover:bg-[#0f1316] hover:shadow-md hover:shadow-[#04BF9D55] cursor-pointer min-w-20">
    <TailwindIcon class="size-12" />
    <span class="text-xs text-[#027373]">Tailwind</span>
</div>